

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

/* General config */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    /* Menu Colors */
    --BG-COLOR: #0D0D0D;
    --BG-BTN-COLOR: #F8B704;
    --TITLE-FONT-COLOR: #F8B704;
    --TITLE-FONT-SHADOW: #D95B04;
    --BTN-FONT-COLOR: #D95B04;
    --BTN-FONT-SHADOW: #833700;
}

html, body {
    height: 100%;
    min-width: 100vw;
    overflow: hidden;
}

/* Menu config */
.space-background {
    position: absolute;
    overflow: hidden;
    z-index: -10;
}

body {
    font-family: 'Black Ops One','poppins', 'arial';
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--BG-COLOR);
    padding-inline: 15px;
    position: relative;
}

.menu-container {
    letter-spacing: 3px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: absolute;
}

.game-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: var(--TITLE-FONT-COLOR);
    text-shadow: 2px 5px 1px var(--TITLE-FONT-SHADOW);
}

.title-box {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}
.brave-hero {
    display: flex;
    flex-direction: column;
}

.title-box-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: transparent;
    top: -300000000px;
}

.menu-canvas {
    background-color: transparent;
    height: 35%;
}

.button-container-link {
    width: 100%;
    display: flex;
    justify-content: center;
}
.button-container-link:any-link {
    text-decoration: none;
}

.start-btn {
    width: clamp(100px, 100%, 450px);
    height: 60px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 5px;
    margin-top: 20px;
    background-color: var(--BG-BTN-COLOR);
    color:  var(--BTN-FONT-COLOR);
    text-shadow: 1px 2px 1px var(--BTN-FONT-SHADOW);
}


/* Media Query For Menu */
@media screen and (min-width: 178px) {
    .game-title {
        font-size: 3rem;
    }
}

@media screen and (min-width: 300px) {
    .game-title {
        font-size: 2.5rem;
    }
    .brave-hero {
        flex-direction: row;
    }
    .title-box-2 {
        flex-direction: row;
        position: static;
        color: var(--FONT-COLOR);
    }
    .start-btn {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 370px) {
    .game-title {
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 448px) {
    .game-title {
        font-size: 4.1rem;
    }
    .start-btn {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 600px) {
    .game-title {
        font-size: 4.5rem;
    }

    .start-btn {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 820px) {
    .start-btn {
        font-size: 1.7rem;
    }
}




/* In game Styles */
.in-game-menu {
    display: none;
}

.canvas-in-game-background {
    border: 1px solid red;
    position: absolute;
    background-color: transparent;
    z-index: -10;
}